# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\User\Desktop\Uni\1. Vorlesungen\2. Semester SS 2021\5. Programmierung 2\02. Praktikum\1. Praktikum\Programmierung 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
